<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Gym Template">
    <meta name="keywords" content="Gym, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GWTS | Health Check</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/barfiller.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>

<body>
<style>

    .home {
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 18px;
        background-color: #f36100;
        padding: 12px;
        border-radius: 10% 30% 50% 70%;
    }

    .home:hover {
        letter-spacing: 2px;
    }
</style>

<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<div style="background-color: #151515">
    <a href="{% url 'App_main:member-dashboard' %}" class="home">GWTS <i class="	fa fa-angle-double-left"
                                                                         aria-hidden="true"
                                                                         style="font-size: 26px!important;"></i>
    </a>
</div>
<!-- Services Section Begin -->
<section class="services-section spad" style="margin-top: 0!important;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>7 Days Diet Plan</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 order-lg-1 col-md-6 p-0">
                <div class="ss-pic">
                    <img src="{% static 'img/hero/diet-2.png' %}" alt="">
                </div>
            </div>
            <div class="col-lg-9 order-lg-2 col-md-6 p-0">
                <div class="ss-text">
                    <h4>Gym Diet Plan Chart – Day 1</h4>
                    <div class="row">
                        <div class="col-lg-4">
                            <p>Breakfast: </p>
                            <p>Lunch: </p>
                            <p>Pre-Workout Snack: </p>
                            <p>Dinner(Post-Workout): </p>
                        </div>
                        <div class="col-lg-8">
                            <p>Oats Banana Pancakes with Protein Shake</p>
                            <p>Multigrain roti along with palak chicken and Avocado bell pepper salad</p>
                            <p>Bananas</p>
                            <p>Brown rice, peas paneer curry, sprouts vegetable salad</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 order-lg-1 col-md-6 p-0">
                <div class="ss-pic">
                    <img src="{% static 'img/hero/diet-2.png' %}" alt="">
                </div>
            </div>
            <div class="col-lg-9 order-lg-2 col-md-6 p-0">
                <div class="ss-text">
                    <h4>Gym Diet Plan Chart – Day 2</h4>
                    <div class="row">
                        <div class="col-lg-4">
                            <p>Breakfast: </p>
                            <p>Lunch: </p>
                            <p>Pre-Workout Snack: </p>
                            <p>Dinner(Post-Workout): </p>
                        </div>
                        <div class="col-lg-8">
                            <p>Oatmeal with Greek Yogurt & Seasonal fruits Mango Juice</p>
                            <p>Multigrain roti, fish curry, vegetable salad</p>
                            <p>Toast with Jam</p>
                            <p>Broken wheat khichidi along with carrot raita, egg white, and vegetable salad</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 order-lg-1 col-md-6 p-0">
                <div class="ss-pic">
                    <img src="{% static 'img/hero/diet-2.png' %}" alt="">
                </div>
            </div>
            <div class="col-lg-9 order-lg-2 col-md-6 p-0">
                <div class="ss-text">
                    <h4>Gym Diet Plan Chart – Day 3</h4>
                    <div class="row">
                        <div class="col-lg-4">
                            <p>Breakfast: </p>
                            <p>Lunch: </p>
                            <p>Pre-Workout Snack: </p>
                            <p>Dinner(Post-Workout): </p>
                        </div>
                        <div class="col-lg-8">
                            <p>Poached Eggs, Whole Grain Toast, Protein Shake</p>
                            <p>Quinoa upma, chicken and broccoli salad</p>
                            <p>Mixed Nuts & Dried Fruits</p>
                            <p>Lean Beef and vegetable curry, brown rice, cucumber salad, Baby Potatoes, Chocolate Milk</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 order-lg-1 col-md-6 p-0">
                <div class="ss-pic">
                    <img src="{% static 'img/hero/diet-2.png' %}" alt="">
                </div>
            </div>
            <div class="col-lg-9 order-lg-2 col-md-6 p-0">
                <div class="ss-text">
                    <h4>Gym Diet Plan Chart – Day 4</h4>
                    <div class="row">
                        <div class="col-lg-4">
                            <p>Breakfast: </p>
                            <p>Lunch: </p>
                            <p>Pre-Workout Snack: </p>
                            <p>Dinner(Post-Workout): </p>
                        </div>
                        <div class="col-lg-8">
                            <p>Oatmeal with Honey, Apple Juice</p>
                            <p>Grilled Chicken, Salad,Whole Grain Bread</p>
                            <p>Toast with Peanut Butter</p>
                            <p>Methi Chicken, Brown Rice, Broccoli, Protein Shake</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 order-lg-1 col-md-6 p-0">
                <div class="ss-pic">
                    <img src="{% static 'img/hero/diet-2.png' %}" alt="">
                </div>
            </div>
            <div class="col-lg-9 order-lg-2 col-md-6 p-0">
                <div class="ss-text">
                    <h4>Gym Diet Plan Chart – Day 5</h4>
                    <div class="row">
                        <div class="col-lg-4">
                            <p>Breakfast: </p>
                            <p>Lunch: </p>
                            <p>Pre-Workout Snack: </p>
                            <p>Dinner(Post-Workout): </p>
                        </div>
                        <div class="col-lg-8">
                            <p>Scrambled Egg, Whole Grain Toast, Smoothie</p>
                            <p>Grilled chicken vegetable roti rolls, Green Salad</p>
                            <p>Mixed Nuts & Dried Fruits</p>
                            <p>Chicken Stir Fry, Spring Onion, Peppers & Broccoli, Chocolate Milk</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 order-lg-1 col-md-6 p-0">
                <div class="ss-pic">
                    <img src="{% static 'img/hero/diet-2.png' %}" alt="">
                </div>
            </div>
            <div class="col-lg-9 order-lg-2 col-md-6 p-0">
                <div class="ss-text">
                    <h4>Gym Diet Plan Chart – Day 6</h4>
                    <div class="row">
                        <div class="col-lg-4">
                            <p>Breakfast: </p>
                            <p>Lunch: </p>
                            <p>Pre-Workout Snack: </p>
                            <p>Dinner(Post-Workout): </p>
                        </div>
                        <div class="col-lg-8">
                            <p>Oatmeal, Whole Grain Toast, Orange Juice</p>
                            <p>Whole Grain Chicken Wrap, Black Beans, Peppers & Greek Yogurt</p>
                            <p>Apple with peanut butter</p>
                            <p>Keema bhurji and multigrain rotiLean Beef Mince, Sweet Potato, Protein Shake</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 order-lg-1 col-md-6 p-0">
                <div class="ss-pic">
                    <img src="{% static 'img/hero/diet-2.png' %}" alt="">
                </div>
            </div>
            <div class="col-lg-9 order-lg-2 col-md-6 p-0">
                <div class="ss-text">
                    <h4>Gym Diet Plan Chart – Day 7</h4>
                    <div class="row">
                        <div class="col-lg-4">
                            <p>Breakfast: </p>
                            <p>Lunch: </p>
                            <p>Pre-Workout Snack: </p>
                            <p>Dinner(Post-Workout): </p>
                        </div>
                        <div class="col-lg-8">
                            <p>Oatmeal with Nuts, Smoothie</p>
                            <p>Whole wheat pasta with chicken and, Green Salad</p>
                            <p>Granola or Cereal</p>
                            <p>Fish curry, boiled green peas salad, Brown Rice, Garden Peas, Milk</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


<!-- Js Plugins -->
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/masonry.pkgd.min.js' %}"></script>
<script src="{% static 'js/jquery.barfiller.js' %}"></script>
<script src="{% static 'js/jquery.slicknav.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>


</body>

</html>